.accordion-item {
    border: none !important;
}
.acc{
    border-bottom: 1px solid #00000014 !important;
}
.accordion-button:not(.collapsed) {
    background-color: unset !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}