.product .product_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 6vh 0px;
    font-family: cursive;
}
.product .product_grid .products{
    padding: 0px 5%;
}
.product .product_grid .products .product_icon{
    margin-bottom: .6em;
    font-size: 60px;
}