.container {
  width: 100% !important;
}

.active {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
}

li a {
  text-decoration: none;
  color: black;
}

li {
  margin-left: 120px;
}

div a {
  text-decoration: none;
  color: black;
}
