.image_logo {
  width: auto;
  max-height: 50px;
}
.header .nav {
  flex: 1;
  align-items: center !important;
}
.header .nav a {
  font-weight: 700;
  color: rgb(69, 65, 65) !important;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
}
.header .nav a:hover {
  color: black !important;
}
.header .nav a::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: black;
  display: block;
  transform: scale(0);
  transform-origin: 0% 100%;
  transition: 0.4s all ease-in-out;
  position: absolute;
  bottom: -1px;
}
.header .nav .a:hover::before {
  transform: scale(1);
}
.header .nav .navlink1 {
  color: black !important;
  font-size: 23px !important;
}
.box {
  transition: 150ms all linear;
}
.box:hover {
  transform: rotate(45deg);
}
.carousel-indicators {
  z-index: unset !important;
}
.nav .active {
  color: black !important;
  font-weight: bold;
  position: relative;
}
.header .nav .navlink.active::before {
  transform: scale(1);
}
.header .nav ul .disp_menu .show_menu {
  display: none;
}
.header .nav ul .disp_menu {
  position: relative;
}
.header .nav ul .disp_menu:hover .show_menu {
  display: block;
  position: absolute;
  top: 33px;
  width: 190%;
  left: 0px;
  background-color: white;
  z-index: 111;
  padding: 10px 0px;
  border: 1px solid #00000014;
}