.laptop .laptop_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.laptop .laptop_grid .laptop_skin{
    padding: 1%;
}
.laptop .laptop_grid .laptop_skin .laptop_image{
    position: relative;
}
.laptop .laptop_grid .laptop_skin .laptop_image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.525);
    display: none;
}
.laptop .laptop_grid .laptop_skin:hover .laptop_image::after{
    display: block;
}
.laptop .laptop_grid .laptop_skin .laptop_hover {
    position: absolute;
    z-index: 9;
    left: 0%;
    top: 172px;
    width: 100%;
    opacity: 0;
    text-align: center;
}
.laptop .laptop_grid .laptop_skin:hover .laptop_hover {
    opacity: 1;
}
.laptop .laptop_grid .laptop_skin .laptop_text{
    position: relative;
}
.laptop .laptop_grid .laptop_skin .laptop_text::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    transform: scale(0);
    transform-origin: 0% 100%;
    transition: 0.4s all ease-in-out;
    position: absolute;
    bottom: -1px;
}
.laptop .laptop_grid .laptop_skin:hover .laptop_text::before{
    transform: scale(1);
}
.laptop .laptop_grid .laptop_skin .laptop_image .laptop_blog{
    position: absolute;
    font-size: 12px;
    left: 5px;
    top: 6px;
    background-color: #eb8e7f;
    color: #fff;
    border-radius: 4px;
    padding: 2px 5px;
    z-index: 1;
}