body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  
  .container {
    display: flex;
    align-items: center;
    transform: scale(1.5);
    width: 400px;
  }
  .dots {
    position: relative;
    top: 50%;
    right: 2%;
    display: flex;
    gap: 10px;
  }
  
  .pac-man {
    animation: eat 2s linear infinite;
  }
  .food {
  }
  @keyframes eat {
    0% {
      transform: translateX(10px);
    }
    50% {
      transform: translateX(60px);
    }
  
    100% {
      transform: translateX(120px);
    }
  }
  
  .food:nth-child(1) {
    animation: disappear 2s linear 0.5s infinite;
  }
  
  .food:nth-child(2) {
    animation: disappear 2s linear 0.8s infinite;
  }
  
  .food:nth-child(3) {
    animation: disappear 2s linear 1.2s infinite;
  }
  
  .food:nth-child(4) {
    animation: disappear 2s linear 1.5s infinite;
  }
  
  .food:nth-child(5) {
    animation: disappear 2s linear 1.8s infinite;
  }
  
  @keyframes disappear {
    0% {
      opacity: 0;
    }
  }
  