.collection .home:hover{
    opacity: 1 !important;
    transition: 0.5s all ease-in;
}
.collect .collect_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.collect .collect_grid .collection{
    padding: 1%;
}
.collect .collect_grid .collection .collect_image{
    position: relative;
}
.collect .collect_grid .collection .collect_image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.525);
    display: none;
}
.collect .collect_grid .collection:hover .collect_image::after{
    display: block;
}
.collect .collect_grid .collection .collect_text {
    position: absolute;
    z-index: 9;
    left: 0%;
    top: 142px;
    width: 100%;
    opacity: 0;
    text-align: center;
}
.collect .collect_grid .collection:hover .collect_text {
    opacity: 1;
}