.layer_collection .layers_collect{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.layer_collection .layer_collect{
    width: 24%;
    padding: 1%;
}
.layer_collection .layers_collect .layer_collect .layer_collect_image{
    position: relative;
}
.layer_collection .layers_collect .layer_collect .layer_collect_image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.525);
    display: none;
}
.layer_collection .layers_collect .layer_collect:hover .layer_collect_image::after{
    display: block;
}
.layer_collection .layers_collect .layer_collect .layer_collect_text {
    position: absolute;
    z-index: 9;
    left: 0%;
    top: 142px;
    width: 100%;
    opacity: 0;
    text-align: center;
}
.layer_collection .layers_collect .layer_collect:hover .layer_collect_text {
    opacity: 1;
}