.layers .layers_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.layers .layers_grid .layer{
    padding: 1%;
}
.layers .layers_grid .layer .layer_image{
    position: relative;
}
.layers .layers_grid .layer .layer_image::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.525);
    display: none;
}
.layers .layers_grid .layer:hover .layer_image::after{
    display: block;
}
.layers .layers_grid .layer .laye_text {
    position: absolute;
    z-index: 9;
    left: 0%;
    top: 172px;
    width: 100%;
    opacity: 0;
    text-align: center;
}
.layers .layers_grid .layer:hover .laye_text {
    opacity: 1;
}
.layers .layers_grid .layer .layer_text{
    position: relative;
}
.layers .layers_grid .layer .layer_text::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: black;
    display: block;
    transform: scale(0);
    transform-origin: 0% 100%;
    transition: 0.4s all ease-in-out;
    position: absolute;
    bottom: -1px;
}
.layers .layers_grid .layer:hover .layer_text::before{
    transform: scale(1);
}