@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.header_div {
    /* background-color: rgb(163, 103, 103); */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10%;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
}


.logo_img {
    margin: 10px;
    height: 50px;
}

.link_div {
    display: flex;
    margin-right: 50px;
    width: 40%;
    justify-content: space-between;
}

.link_div li {
    margin-left: 10px;
    font-weight: 600;
    font-family: Kumbh Sans, sans-serif;
    color: #1e3d60;
}



.sec_one {
    display: flex;
    padding: 10% 10px 10% 10%;
    justify-content: space-around;
}

.sec1_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: relative;

    h1 {
        font-family: Newsreader, serif;
        text-decoration: none;
        color: #0f437f;
        font-size: 60px;
        font-weight: 600;
    }

    p {
        padding-top: 30px;
        font-family: 'Kumbh Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.455);
        line-height: 25px;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
    }
}


.sec1_left_btn {
    padding-top: 30px;
}

.img_sec_1 {
    width: 80%;
    border-radius: 20px;
}

.btn_1 {
    height: 60px;
    width: 55%;
    margin-right: 10px;
    border-radius: 30px;
    border: none;
    background-color: rgba(15, 67, 127, 1.0);
    color: white;
    font-weight: 700;
    font-family: Kumbh Sans;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.btn_2 {
    height: 60px;
    border-radius: 30px;
    border: none;
    width: 40%;
    font-weight: 700;
    font-family: Kumbh Sans;
    font-size: 16px;
    letter-spacing: .08em;
}

.sec1_right {
    width: 50%;
    padding: 0px;
}

.sec3_right {

    .img_overlap {
        width: 80%;
    }

    .img_sec_1 {
        width: 100%;
        border-radius: 20px;
    }

    .sec3_div {
        width: 80%;
        background-color: white;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
        /* right: auto; */
        /* left: auto; */
    }


}

.sec3_left_btn {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .btn_1 {
        margin-bottom: 10px;
        width: 50%;
    }

    .btn_2 {
        width: 50%;
    }
}
