.head_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  border-bottom: 1px solid rgba(85, 78, 78, 0.63);
  align-items: center;
  li {
    list-style: none;
  }
  .li_div {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  input {
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-left: none;
    border-radius: 0;
  }
  input:focus {
    box-shadow: none;
    border-radius: 0;
    border-left: none;
  }
}
