.head {
  color: lightcoral;
  background-color: black;
}
/* h1 {
  background-color: blue !important;
} */

.box {
  height: 100px;
  width: 100px;
  background-color: brown;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bolder;
  color: white;
}
