.round {
  height: 100px;
  width: 100px;
  border: 1 px solid black;
  background-color: lightcoral;
  border-radius: 50%;
}

.rectangle {
  height: 100px;
  width: 200px;
  border: 1 px solid black;
  background-color: rgb(234, 57, 57);
}
