body{
    background-color: rgb(40, 25, 25);
    color: white;
    overflow: hidden;
}

.todo-wrapper{
    background-color: #353434;
    padding: 2%;
    width: fit-content;
    height:80vh;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 7px rgb(28, 28, 28);
}
label{
    font-size: 25px;
    font-weight: 700;
    color: darkturquoise;
}
.todo-input{
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    
}
.todo-input input{
    margin-right: 15px;
    box-shadow: 0px 5px 7px rgb(28, 28, 28);
}
.btn-add{
    font-size: larger;
    font-weight: 700;
    box-shadow: 0px 5px 7px rgb(28, 28, 28);

}
.btn-add:hover{
    background-color: darkorange;
    color: black;
}
h3{
    margin-right: 70%;
    margin-top: 3%;
}
.btn-todo{
    margin-left: 10px;
    background-color: rgb(195, 29, 29);
    font-size: larger;
    font-weight: 700;
}
.btn-todo:hover{
    background-color: cyan;
    color: black;
}
.btn-complete{
    margin-left: 20px;
    font-size: larger;
    font-weight: 700;
}
.btn-complete:hover{
    background-color: crimson;
    color: black;
}
.todo-list{
    display: flex;
    flex-direction: column;

}
.todo-list-item{
    background-color: #1e1d1d;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px rgb(43,42,42);
}

h5{
    color: rgb(0,230,122);
}

