.card {
  box-shadow: inset 5px 5px 12px gray,5px 5px 5px black;
  border-radius: 10px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.card_img {
  width: 100%;
}
.crad_con {
  display: flex;
  flex-direction: column;

}
