header {
  padding: 5px;
  background-color: #363943;
  box-shadow: 14px 14px 14px #00000033;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
}

.linkContainer {
  display: flex;
  gap: 15px;
}

.linkContainer a{
  text-decoration: none;
  color: white ! important;
}

.active{
  color: rgb(143, 143, 143) ! important;

}
