.cart-button {
    padding: 22px 0px !important;
}

.cart-btn {
    height: 55px !important;
    width: 170px;
    font-size: 16px;
    text-align: center;
    padding-top: 12px !important;
}

.card-shadow:hover {
    box-shadow: 1px 1px 10px 2px gray;
    transition: 0.5s all ease;
    /* border: none; */

}