.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head {
  color: blue;
}

#head1 {
  color: red;
}

.head_container {
  background-color: lightblue;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head_list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.head_logo {
  margin-left: 30px;
  width: 50%;
}
.body_container {
  padding: 10px;
  background-color: lightgray;
  width: 100vw;
}
.content_1 {
  background-image: url("https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.sub1_con_2 {
  display: flex;
  padding: 20px;
  margin-left: 67px;
}
.sub2_con_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.title_1 {
  width: 100%;
  font-size: xx-large;
  font-weight: 500;
}

.sub_title {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card {
  background: black;
  color: white;
  height: 25vw;
  width: 25vw;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.card_1 {
  padding-left: 15px;
  display: flex;
  align-items: center;
  height: 30%;
  justify-content: flex-start;
}
.card_2 {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card_font {
  font-size: 40px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.des {
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.443);
}

.content_3 {
  display: flex;
  justify-content: right;
  background-image: url("https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.cardDertails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconImage {
  height: 65px;
  width: 130px;
  margin-right: 10%;
}

.topFooter {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  flex-direction: row;
}

.card_image {
  height: 100vh;
  width: 100vh;
  background-image: url("https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
}
