.footer {
  background-color: #e7e7e7;
  margin: 30px 0px 0px 0px;
}
.footer .footer_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 0px 20px 0px;
  gap: 120px;
}
.footer .footer_grid .grid1 .footer_text {
  margin-bottom: 1.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}
.footer .footer_grid .grid1 ul .footer_flex {
  padding-bottom: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
}
.footer .footer_grid .grid1 ul .footer_flex:hover .footer_icon {
  transform: scale(1.05) !important;
}
.footer .footer_grid .grid1 ul .footer_flex a {
  text-decoration: none !important;
  color: black !important;
  position: relative;
}
.footer .footer_grid .grid1 ul .footer_flex a::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: black;
  display: block;
  transform: scale(0);
  transform-origin: 0% 100%;
  transition: 0.4s all ease-in-out;
  position: absolute;
  bottom: -1px;
  left: 0px;
}
.footer .footer_grid .grid1 ul .footer_flex:hover a::before {
  transform: scale(1);
}
.footer .footer_grid .grid1 .footer_fex .footer_underline {
  background-position: 0 calc(1em + 4px);
  background-image: linear-gradient( to right, black, black );
  background-size: 0% 1px;
  background-repeat: no-repeat;
  padding-bottom: 3px;
  transition: all 150ms linear;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer .footer_grid .grid1 .footer_fex:hover .footer_underline{
  background-size: 100% 1px;
}