.name {
  width: 100vw;
  background-color: rgb(173, 119, 119);
  color: rgb(41, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .table {
    border: 1px solid black;
  }
}
