.active {
  font-weight: bold;
  color: rgb(0, 0, 0) !important;
}

.navi a {
  text-decoration: none;
  color: rgb(99, 96, 96);
  transition: 0.3s all ease-in-out;
}

.navi a:hover {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
