@tailwind base;
@tailwind components;
@tailwind utilities;
.body_div {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 8px 0;
}

div {
  color: blue;
  cursor: pointer;
}

div:hover {
  text-decoration: underline;
}
