.form-check-input:checked {
    background-color: black !important;
}
textarea.form-control {
    padding: 15px !important;
    border-width: 2px !important;
}
.eye_hover{
    position: absolute;
    right: 12px;
    top: 18px;
    color: #dee2e6;
}
.eye_hover:hover{
    color: black;
}
.form-check-input:focus {
    box-shadow: none !important;
}